
    <div class="app-bar fixed-top darcula" data-role="appbar">
      <a class="app-bar-element branding">AppNet</a>
      <span class="app-bar-divider"></span>
      <ul class="app-bar-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Futebol</a></li>
        <li>
          <a href="#" class="dropdown-toggle">Outros</a>
          <ul class="d-menu" data-role="dropdown">
            <li><a href="#">Tênis</a></li>
            <li><a href="#">Basquetebol</a> </li>
            <li><a href="#">Futebol Americano</a> </li>
            <li><a href="#">Beisebol</a> </li>
            <li><a href="#">Voleibol</a> </li>
            <li><a href="#">Roquei no Gelo</a> </li>
          </ul>
        </li>
        <li><a href="#">Contatos</a></li>
      </ul>
    </div>
    <div class="container-fluid" style="margin-top: 50px;">
      <%= image_tag "prediction-page-top-background.png.jpeg" %>
    </div>
    <div class="container">
      <h1 style="color: #f0a30a;">Participe do Bolão.</h1>
      <p style="color: #f0a30a;">
        Escolha um dos resultados possíveis 1, X ou 2 para deixar seus palpites nos jogos.<br>
        Ao final da cartela, veja sua classificação na tabela. Os melhores ganham prêmios.
        <br><br>
        Boa sorte!
      </p>
    </div>

